*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  // to hide scroll bar in chrome !!
  display: none;
}
// to hide scrollbar in other browser
// overflow: auto;
// -ms-overflow-style: none; / IE 11 /
// scrollbar-width: none; / Firefox 64 /

html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  border: 0;
  outline: 0;
}

.wrapper {
  overflow: hidden;
}

button {
  border: none;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    border: none;
    outline: none;
  }
}
