.logos {
  margin-top: 4rem;
  padding: 5rem;
  overflow: hidden;

  div {
    overflow-x: scroll;
    margin: 0 auto;
    // width: 120rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
      padding: 10px;
      margin: 30px;
    }
  }
}
