.logos {
  margin-top: 4rem;
  padding: 5rem;

  div {
    margin: 0 auto;
    width: 120rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
