.grid-info {
  padding: 10rem 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1450px) {
    margin-top: 10rem;
  }

  @media (max-width: 1300px) {
    padding: 5rem;
  }
  @media (max-width: 1000px) {
    padding: 6rem;
  }

  @include respond(tab-port) {
    padding: 10rem 5rem;
    margin-top: 250px;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include respond(phone) {
    margin-top: 0;
  }

  .grid__card {
    width: 30rem;
    font-size: 3rem;
    text-align: center;

    @include respond(tab-port) {
      transform: scale(0.95);
      margin-top: 50px;
    }

    i {
      font-size: 4rem;
      color: #507df5;
      margin-bottom: 3rem;
    }

    h3 {
      font-size: 2rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}
